

/*
body {

    position: relative;

    display: flex;

align-items: center; 

justify-content: center;

height: 200px; 


}

body {

    text-align: center;
}
    */


body {

    background-image: url(image.png);

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    image-rendering: auto;

    height: 100vh;

    background-attachment: fixed;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    min-height: 100vh;

}

div {

    border: 5px dashed rgb(226, 242, 248);
    
    border-width: 10px;

    display: flex;

    padding: 30px;

}



main {

    border: 10px solid rgb(254, 254, 254);

    border-width: 10px;

    display: flex;

    border-radius: 4%;
}

div {

    display: flex;

    position: relative;

    padding-bottom: 5px;

    width: 400px;

    height: 120px;

    background-color: rgb(255, 255, 255);

    padding: 20px;

}


title {

color: rgb(147, 172, 188);

font-size: 25px;

}



body {

overflow-y: hidden;

height: 100%;


}


body {


top: 150px;

 }



body main div {

display: flex; 

flex-direction: row;

gap: 15px; 

text-align: center;

color:  rgb(76, 76, 76);

}

body {

top: 350px;

}


h1:hover {

color: rgb(139, 203, 255);

cursor: pointer;

}

a {

text-decoration: none;

color: rgb(147, 172, 188);

}