body {

    position: relative;

    top: 325px;

}

body {

    text-align: center;
}

body {

    background-image: url(image.png);

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    image-rendering: auto;

    margin: 0;

    height: 100vh;

    background-attachment: fixed;

}

 body main form {

    border: 5px dashed rgb(226, 242, 248);
    
    border-width: 10px;

    display: inline-block;



}



body main {

    border: 10px solid rgb(254, 254, 254);

    border-width: 10px;

    display: inline-block;

    border-radius: 5%;
}

body main form{

    display: inline-block;

    position: relative;

    padding-bottom: 5px;

    width: 200px;

    height: 280px;

    background-color: rgb(255, 255, 255);

    padding: 10px;
}


.titulo {

color: rgb(147, 172, 188);

font-size: 25px;

}

.button {

background-color: black;

}

p strong em {

text-align: center;

top: 20px;

color: rgb(147, 172, 188);

font-size: 15px;


}

p strong {

color: rgb(70, 70, 70);

}

html body {

overflow-y: hidden;

height: 100%;


}


html body {


top: 200px;


}


.li {


color: rgb(76, 76, 76);

text-align: center;

}


button {


color: rgb(147, 172, 188);

background-color:  rgb(226, 242, 248);

border: solid;

border-color: rgb(147, 172, 188);
    
border-radius: 5%;

border-width: 2px;

height: 25px;
}

.confirmar-senha:hover {

color: rgb(139, 203, 255);

}

.senha:hover {

color: rgb(139, 203, 255);


}

.nome:hover {

color: rgb(139, 203, 255);

}

.sobrenome:hover {

color: rgb(139, 203, 255);

}

.cpf:hover {

color: rgb(139, 203, 255);


}

.data-nascimento:hover {

color: rgb(139, 203, 255);


}

.destino:hover {

color: rgb(139, 203, 255);

}

button:hover {

cursor: pointer;

color: black;

}